.selectpitch{
    border: 2px solid blue;
    background-color:paleturquoise;
    
}
.selectpitch a{
   
    background-color:paleturquoise;
    
}
.container{
    color:blue;
    background-color:palegoldenrod;
}
.cat_{
    color:blue;
}

