
.border{
    /* border: 4px solid black; */
    margin-left:70px;
    margin-right:275px;
}
.container{
    
    background-color:cadetblue;
    background-size: 150cm;
}
.selectpitch a{
    color:blue;
}
.add a{
    color:blue;
}
p{
    color:white;
}
.container {
    border: 4px solid black;
    margin-left:400px;
    margin-right:275px;
    /* background-color:cadetblue;
    background-size: 150cm; */
}
.container a {
    color:blue;
}

.container p {
    color:black;
}
.one{
    color:blue;
}
.two{
    color:blue;
}
.three{
    color:blue;
}
.four{
    color:blue;
}
.collapse{
    border: 4px solid black;
    margin-left:400px;
    margin-right:275px;
}
