{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='CSS/index.css')}}">
{% endblock %}

{% block content %}
<div class="border">
        
    <div class="container">
        <img src="https://cdn.lynda.com/course/728380/728380-636675048518746190-16x9.jpg" width="300">
        <div class="selectpitch">
            
                <a href= "{{url_for('main.pickuplines')}}">Pickup Lines|</a>
                <a href= "{{url_for('main.interview')}}"> Interview Pitch|</a>
                <a href= "{{url_for('main.product')}}"> Product Pitch|</a>
                <a href= "{{url_for('main.promotion')}}"> Promotion pitch</a>
            <hr>

        </div>

       
       <p>You can write your pitches here according to any category you want.</p>
       <hr>

       <br>
       <div class="add">
        <a href= "{{url_for('main.newpitch')}}">Add New Pitch</a>
       </div>
       <br>

       <hr>
       <p>View your pitches.</p>
       {% for pitch in all_pitches %}
    
        <h2> {{ pitch.description}} </h2>
        <p> {{ pitch.user }}</p>
    
      {% endfor %}
    </div>
</div>
{% endblock %}
