{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class="container">

        <div class="selectpitch">
            <hr>
                <a href= "{{url_for('main.pickuplines')}}">Pickup Lines|</a>
                <a href= "{{url_for('main.interview')}}"> Interview Pitch|</a>
                <a href= "{{url_for('main.product')}}"> Product Pitch|</a>
                <a href= "{{url_for('main.promotion')}}"> Promotion pitch</a>
            <hr>

        </div>

       
       <p>You can write your pitches here according to any category you want.</p>


       
        <div class="col-md-4 form" >
            <br>
          {{ wtf.quick_form(user_form) }}
     
          <hr>  
        </div>
       
    </div>

{% endblock %}
