{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class="container">

        <div class="selectpitch">
            <hr>
                <a href= "{{url_for('main.pickuplines')}}">Pickup Lines|</a>
                <a href= "{{url_for('main.interview')}}"> Interview Pitch|</a>
                <a href= "{{url_for('main.product')}}"> Product Pitch|</a>
                <a href= "{{url_for('main.promotion')}}"> Promotion pitch</a>
            <hr>

        </div>

       
       <p>You can write your pitches here according to any category you want.</p>
       <hr>

       <br>
       <a href= "{{url_for('main.newpitch')}}">Add New Pitch</a>
       <br>

       <hr>
       
       {% for pitch in all_pitches %}
    
        <h2> {{ pitch.description}} </h2>
        <p> {{ pitch.user }}</p>
    
      {% endfor %}
    </div>

{% endblock %}
